<div class="container text-center">
    <img src="https://opat.com.mx/opat2021/img/adopta-1.jpg" alt="Logo de la Empresa" class="logo">
    <h1>Bienvenido a nuestra tienda de adopción de mascotas</h1>
    <p>Encuentra a tu nueva mascota hoy mismo.</p>
    
    <nav>
      <button class="btn btn-primary me-2" routerLink="/inicio">Inicio </button>
      <button class="btn btn-info me-2" routerLink="/visualizar">Visualizar Mascotas </button>
      <button class="btn btn-success" routerLink="/tienda">Tienda</button>
    </nav>
    <router-outlet></router-outlet>
  </div>
  
  