<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link text-black" [routerLink]="['/inicio']">Inicio</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-black" [routerLink]="['/tienda']">Tienda</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-black" [routerLink]="['/visualizar']">Mascotas</a>
        </li>
       
     
    </ul>
  
  </div>
</nav>




<h2 class="text-center mb-4">Artículos para Mascotas</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card" style="text-align: justify;">
        <img src="https://ergonomus.co/cdn/shop/products/1220021-5.jpg?v=1680531280" class="card-img-top" alt="Cama para Mascotas">
        <div class="card-body">
          <h3 class="card-title">Cama para Mascotas</h3>
          <p class="card-text">Confeccionada con materiales suaves y duraderos, esta cama ofrece un descanso cómodo para tu perro. Su base antideslizante y el relleno acolchado aseguran confort y soporte. Fácil de limpiar y perfecta para cualquier clima.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 mb-4">
      <div class="card" style="text-align: justify;">
        <img src="https://m.media-amazon.com/images/I/615xsFxAxLL._AC_SL1200_.jpg" class="card-img-top" alt="Juguete para Perros">
        <div class="card-body">
          <h3 class="card-title">Juguete para Perros</h3>
          <p class="card-text">Este juguete resistente y colorido está diseñado para mantener a tu perro activo y entretenido. Hecho de materiales seguros, es perfecto para morder, lanzar y jugar a buscar. Ideal para estimular su mente y ayudar a reducir el estrés. ¡Tu mascota no podrá resistirse a horas de diversión!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
